    <div class="clearfix">
      <div class="sm-col sm-col-6 md-col-5 lg-col-3 px2 border-right center nav-bar">
        <img class="circle py2" height="50%" width="50%" src="assets/ali.jpg"/>
        {{#link-to 'index' class="header"}}<h1>Ali Yeysides</h1>{{/link-to}}
        <p class="italic">Full-Stack Web Developer</p>
        {{#link-to 'posts' tagName="button" class="button-blue-outline mb1"}}Writing{{/link-to}}
        {{#link-to 'projects' tagName="button" class="button-blue-outline mb1"}}Projects{{/link-to}}
        <div class="py3">
          <a target="_blank" href="mailto:ali.yeysides@gmail.com"><i class="fa fa-paper-plane-o fa-2x blue p1 float"></i></a>
          <a target="_blank" href="https://www.github.com/aliyeysides"><i class="fa fa-github-alt fa-2x blue p1 float"></i></a>
          <a target="_blank" href="https://www.linkedin.com/profile/view?id=235379385&trk=spm_pic"><i class="fa fa-linkedin-square fa-2x blue p1 float"></i></a>
          <a target="_blank" href="https://twitter.com/aliyeysides"><i class="fa fa-twitter fa-2x blue p1 float"></i></a>
        </div>
      </div>
      <div class="sm-col sm-col-6 md-col-7 lg-col-8 px2 py1">
        {{outlet}}
      </div>
    </div>

