<h1 class="center caps border-bottom blue">Writing</h1>

    {{#each}}
      <li>
        <h2>{{#link-to 'post' this class="dark-gray article"}}{{title}}{{/link-to}}
        </h2>
        <div class="article-details mid-gray">
          
        </div>
      </li>
    {{/each}}
    </ul>

{{outlet}}
