<h1 class="center caps border-bottom blue">Writing</h1>

    {{#each}}
      <li>
        <h3>{{#link-to 'post' this class="dark-gray article"}}{{title}}{{/link-to}}
        </h3>
        <div class="article-details mid-gray">
          2014-12-1
        </div>
      </li>
    {{/each}}
    </ul>

{{outlet}}
